@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+HR:wght@100..400&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


/* css root variables */

:root {
    --primary-color: #FFCC00;
    --secondary-color: #8D83BC;
    --black-color: #000;
    --text-shadow: rgba(0, 0, 0, 0.5);
    --section-bg1: #F6D8C0;
    --section-bg2: #CFC6F0;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
}

::selection {
    color: var(--black-color);
    background-color: var(--primary-color);
}

/* Change the color of the scrollbar */

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: var(--section-bg1);
}

::-webkit-scrollbar-thumb {
    background-color: var(--section-bg2);
    border-radius: 5px;
    border: 1px solid var(--black-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}

/* utility classes */

.container-fluid {
    width: 100%;
    padding: 0 30px;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 00px 15px;
}

.section-padding {
    padding: 30px 0px;
}

.section-bg-1 {
    background: var(--section-bg1);
}

.section-bg-2 {
    background: var(--section-bg2);
}

.btn {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: 500;
    background: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 40px;
    cursor: pointer;
    color: var(--primary-color);
    text-shadow: 1px 1px 2px var(--text-shadow);
    transition: 1s;
    overflow: hidden;
}

.btn:hover {
    background-color: var(--primary-color);
    box-shadow: 0 0 25px var(--primary-color),
        0 0 100px var(--primary-color),
        0 0 150px var(--primary-color);
}

.btn span {
    position: relative;
    display: inline-block;
    transition: transform 0.5s;
    text-shadow: 1px 1px 2px var(--text-shadow);
    transform: translateY(0px);
}

.btn:hover span:hover {
    transform: translateY(-35px);

}

.btn span.hover {
    transform: translateY(-37px);
    text-shadow: 0 35px var(--black-color);
}

.heading {
    font-size: 2.3rem;
    padding: 10px 0;
    color: var(--primary-color);
    text-shadow: 1px 1px 2px var(--text-shadow);
}

.heading:hover {
    text-decoration: underline;
}

.title {
    font-size: 2.6rem;
    text-align: center;
    color: var(--secondary-color);
    text-shadow: 1px 1px 2px var(--text-shadow);
    text-decoration: underline;
}

p {
    font-family: "Nunito", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 10px 0;
}


.scrolling-text {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--black-color);
    overflow: hidden;
    white-space: nowrap;
    padding: 8px 0;
    position: relative;
    font-size: 3.2rem;
    text-shadow: 1px 1px 2px var(--text-shadow);
}

.scrolling-text h6 {
    display: inline-block;
    white-space: nowrap;
    font-family: "Playwrite HR", cursive;
    animation: scroll-text 20s linear infinite;
}

@keyframes scroll-text {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.scrolling-text:hover h6 {
    animation-play-state: paused;
}

.hide {
    opacity: 0;
    transform: all 2s;
}

.show {
    opacity: 1;
    transition: all 2s;
}

/* preloader styling */

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: var(--black-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    position: relative;
    width: 100px;
    height: 100px;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    border: 15px solid transparent;
}

.loader:before {
    border-top-color: var(--primary-color);
    animation: spin 1s linear infinite;
}

.loader:after {
    border-bottom-color: var(--secondary-color);
    animation: spin 1s linear infinite reverse;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    cursor: pointer;
    font-size: 2rem;
}

/* custom cursor styling */

.cursor {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    pointer-events: none;
    z-index: 1000;
    display: none;
}


/* header styling */

.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 80px;
    width: 100%;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 4rem;
    background-color: var(--section-bg1);
}

.header .menu-btn {
    display: none;
}

.header .logo {
    display: flex;
    align-items: end;
    font-family: "Playwrite HR", cursive;
}

.header .logo img {
    width: 50px;
}

.header .logo h1 {
    position: absolute;
    top: 33px;
    left: 45px;
    color: var(--primary-color);
    text-shadow: 1px 1px 2px var(--text-shadow);
}

.header .logo h1 span {
    color: var(--secondary-color);
}

.header .nav-items ul {
    position: absolute;
    left: 300px;
    top: 50%;
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    transform: translateY(-50%);
}

.header .nav-items ul li a {
    color: var(--primary-color);
    font-weight: 500;
    text-shadow: 1px 1px 2px var(--text-shadow);
    transition: color 0.8s ease-in-out, box-shadow 0.8s ease-in-out;
    padding: 3px 5px;
}

.header .nav-items ul li a:hover {
    color: var(--black-color);
    box-shadow: inset 200px 0 0 0 var(--primary-color);
}

.header .shop-btn {
    position: absolute;
    right: 10px;
}

.active-header {
    top: 100% !important;
    margin-top: 20px !important;
    left: 50% !important;
    flex-direction: column !important;
    font-size: 1rem !important;
    gap: 0.5rem !important;
    transform: translateX(-50%) !important;
}

/* hero section styling */

#hero {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.overlay {
    height: 60px;
    width: 180px;
    background-color: #F3D5BB;
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50px;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    z-index: 1;
}

.hero-content h2 {
    color: var(--primary-color);
    font-size: 3rem;
    text-shadow: 1px 1px 2px var(--text-shadow);

}

.hero-content h2 span {
    font-size: 3.5rem;
    color: var(--black-color);
}

.hero-content button {
    margin-top: 30px;
}

/* product section Styles */

.product-content {
    position: relative;
}

.elem {
    width: 100%;
    height: 120px;
    border-bottom: 1px solid var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.elem h1 {
    font-size: 3vw;
    z-index: 9;
    position: relative;
    color: var(--black-color);
}

.elem img {
    height: 150px;
    object-fit: cover;
    object-position: center;
    opacity: 0;
    position: absolute;
    transition: all linear 0.3s;
    pointer-events: none;
}

.product-content button {
    margin: 10px 0;
}

/* Blog section Styles */

.blog-slider {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 50px auto;
}

.blog-slider-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.blog-slider-item {
    min-width: 100%;
    height: 50vh;
    padding: 20px;
    border-radius: 30px;
    background-color: #fff;
}

.blog-slider-item h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.blog-slider-item ul li {
    margin-bottom: 10px;
    font-weight: 500;
}

.slider-nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 1rem;
}

/* footer section Styles */

footer {
    background-color: var(--section-bg2);
    padding: 50px 0;
    text-align: center;
    position: relative;
}

footer .container-fluid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.footer-section h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: var(--primary-color);
    text-shadow: 1px 1px 2px var(--text-shadow);
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li i {
    margin-right: 10px;
}

.links ul li a {
    color: var(--black-color);
}

.footer-section .social-links a {
    display: inline-block;
    margin: 0 10px;
    font-size: 18px;
}

.social-links a i {
    color: var(--black-color);
}

.footer-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 14px;
}